

#outer {
    border: 2px solid rgb(67, 181, 222);
    border-radius: 6px;
    width: 90%;
    margin: 80px auto;
}

#inner {
    text-align: left;
    margin-left: 40px;
    margin: 50px auto 40px 40px;
}