<div id="outer">
    <div id="inner">
        <h1>About</h1>
        <p>Introducing Mason Schermerhorn, a dynamic individual with a passion for programming. Armed with a strong technical skill set and experience in various programming languages, Mason strives for excellence in every coding challenge. His creativity, determination, and natural curiosity drive innovation, making a positive impact. With a genuine enthusiasm for growth, Mason is poised to make waves in the world of programming.</p>
        <h2>Technological Experience</h2>
        <ul>
            <li>Rubik's Cube</li>
            <li>Helping Grandma get the TV to work</li>
            <li>Deep understanding of Both MacOS and Windows</li>
            <li>Valorant</li>
            <li>Watching Youtube for hours</li>
            <li>Typing 70+ wpm</li>
            <li>Video Games</li>
            <li>Using ChatGPT to write a bio </li>
            
        </ul>

    </div>
</div>
