#mainDiv {
    border: 2px solid rgb(67, 181, 222);
    width: 450px;
    margin: 80px auto;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 35px;
}

#detailsDiv {
    margin: 40px 40px auto;
}
